// @import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
// Andi [11:56 AM]
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Crushed');

$sans: 'ABeeZee', sans-serif;
// $cursive: 'Crushed', cursive;


$yellow: #FEF36E;
$red:#d13030;
$black: #111;
$white: #efefef;
$grey: #3a3a3a;

$white-translucent: rgba(239, 239, 239, 0.3);
$white-translucent-2: rgba(239, 239, 239, 0.15);
$black-translucent: rgba(17, 17, 17, 0.93);
$yellow-translucent: rgba(254, 243, 110, 0.3);
$yellow-translucent-2: rgba(254, 243, 110, 0.6);
