    .Menu{
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        font-family: $sans;
        font-size: 1.2em;
        display: none;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        background-color: $black-translucent;
        z-index: 99;

        // right: 100vw;
        opacity: 0;
        // animation: slideIn 1s;
        a {
          text-decoration: none;
        }

        .navigateContainer{
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;

            .exit{
                width: 100%;
                position: absolute;
                // height: 100%;
                width: 25px;
                height: 25px;
                top: 80px;
                cursor: pointer;


                .x{
                    width: 25px;
                    height: 25px;
                    transform: scale(0.2);
                    opacity: 0;
                    cursor: pointer;
                }
            }

            .menuContainer{
              width: 120px;
              height: 120px;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              transform: rotate(90deg);
            }

            .buttn {
              width: 120px;
              height: 120px;
              border-radius: 120px;
              background-color: $yellow;
              color: $black;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: $grey;
                color: $yellow;
              }
              position: absolute;
            }

            .home{
              // top: -100px;
              opacity: 0;
              transform: scale(0.2);
            }

            .profile{
              // left: -100px;
              // top: -5px;
              opacity: 0;
              transform: scale(0.2);
            }

            .situations{
              // right: -100px;
              // top: -5px;
              opacity: 0;
              transform: scale(0.2);


            }
            .about{
              // bottom: -130px;
              // right: -70px;
              opacity: 0;
              transform: scale(0.2);
            }
            .logout{
              // bottom: -130px;
              // left: -70px;
              opacity: 0;
              transform: scale(0.2);
              &:hover {
                color: $white;
                background-color: $red;
              }
            }

        }
    }
