.modalContainer{
    position: absolute;
    top: 70px;
    left: calc((100vw - 300px) / 2);
    width: 300px;
    // overflow-x: scroll;
    border-radius: 10px;
    min-height: 300px;
    background-color: $grey;
    z-index: 6;

    .friendbuttn{
      margin-left: 10px;
      background-color: $yellow;
      border-radius: 4px;
      border: none;
      width: 52px;
      height: 34px;
      padding-left: 3px;
      font-family: $sans;
      &:focus {
        outline: none;
      }

    }

    .input{
      margin-left: 15px;
      width: 210px;
      height: 35px;
      margin-bottom: 10px;
      border-radius: 4px;
      background-color: $white-translucent;
      color: $black;
      text-transform: uppercase;
      font-family: $sans;
      border: none;
      border-radius: 10px;
      &:focus {
        outline: none;
      }
    }

     .x{
       width: .8em;
       height: .8em;
       margin: 20px;
       position: relative;
       cursor: pointer;
     }

      .things{
        width: 120px;
      }

     .result{
       display: flex;
     }

     .result img{
       width: 70px;
       height: 70px;
       margin: 5px;
       border-radius: 4px;
      //  margin-top: 20px;
      //  margin-right: 20px;
       margin: 20px 20px 0 20px;
     }

     .result h3{
       font-size: .99em;
       letter-spacing: 1px;
       margin-top: 5px;
       margin-bottom: 13px;
       color: $white;
      //  word-wrap: break-word;
      //  overflow-x: scroll;
     }

    .result h4{
      font-size: .9em;
      letter-spacing: 1px;
      margin-top: 5px;
      color: $white;
      // word-wrap: break-word;
      // overflow-x: scroll;
      
    }

    .result button{
      background-color:$black;
      color: $yellow;
      border-radius: 4px;
      border: none;
      margin: 10px;
      width: 70px;
      margin-left: 20px;
      font-family: $sans;
      &:focus {
        outline: none;
      }

    }

    .text{
      margin: 13px 5px 13px 0;
      // border: 1px solid red;
      width: 185px;
      // margin-right: 5px;
      line-height: 1.1em;
      // overflow-x: scroll;
      div {
        overflow-x: scroll;
      }
    }
}
