@import './../../sass/variables';


#Level3 {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  color: $white;
  font: {
      family: $sans;
      size: 1.2rem;
  }
  letter-spacing: 0.2em;

  .wrapper {
      width: 320px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }

  header {
    font-size: 3rem;
    text: {
      align: center;
      transform: uppercase;
    }

    margin: 30px 0;

  }

  .situationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text: {
      align: center;
      transform: uppercase;
    }
  }

  .buttnWrapper {
    margin: 20px 0;

    button {
      background-color: $red;
      border: none;
      height: 150px;
      width: 300px;
      padding: 7px;
      border-radius: 10px;
      color: $white;
      letter-spacing: 0.2em;
      font: {
          family: $sans;
          size: 2.7rem;
      }
      &:focus {
          outline: none;
      }
      &:hover {
          background-color: $red;
          color: $black
      }
    }
    width: 320px;

  }

  .redirect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $red;
    color: $black;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font: {
      family: $sans;
      size: 1.3rem;
    }
    text: {
      transform: uppercase;
      align: center;
    }
    p {
      width: 100vw;
      padding: 20px;
    }
    a {
      font-family: $sans;
      size: 1.3rem;
      color: $white;
      text-decoration: none;
      width: 100vw;
      padding: 20px;
      &:hover {
        color: $black;
      }
    }
  }
}
