/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=ABeeZee|Crushed");
@import url("https://fonts.googleapis.com/css?family=ABeeZee|Crushed");
@import url("https://fonts.googleapis.com/css?family=ABeeZee|Crushed");
@import url("https://fonts.googleapis.com/css?family=ABeeZee|Crushed");
@import url("https://fonts.googleapis.com/css?family=ABeeZee|Crushed");
@import url("https://fonts.googleapis.com/css?family=ABeeZee|Crushed");
@import url("https://fonts.googleapis.com/css?family=ABeeZee|Crushed");
@import url("https://fonts.googleapis.com/css?family=ABeeZee|Crushed");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.Contacts {
  text-transform: uppercase;
  display: flex;
  letter-spacing: 0.2em;
  font-family: "ABeeZee", sans-serif;
  background-color: #111;
  width: 100vw;
  padding-top: 50px; }
  .Contacts .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    position: absolute;
    background-color: #111; }
    .Contacts .header .head {
      color: #efefef;
      font-family: "ABeeZee", sans-serif;
      letter-spacing: .1em;
      font-size: 2em; }
    .Contacts .header .addFriend {
      width: 20px;
      height: 20px;
      margin: 1em; }
  .Contacts .listOfFriends {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    width: 100vw;
    align-items: flex-start;
    position: relative; }
    .Contacts .listOfFriends .imgContainer {
      width: 100px;
      height: 100px;
      background-color: #efefef;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 20px;
      border-radius: 10px;
      border: 2px solid #FEF36E; }
    .Contacts .listOfFriends .nameContainer {
      display: flex;
      flex-direction: column; }
      .Contacts .listOfFriends .nameContainer button {
        color: #efefef;
        background-color: #d13030;
        border-radius: 10px;
        margin-top: 10px;
        border: none;
        font-family: "ABeeZee", sans-serif; }
      .Contacts .listOfFriends .nameContainer .name {
        color: #efefef;
        font-size: 1.3em; }
      .Contacts .listOfFriends .nameContainer .seeInfo {
        color: #FEF36E;
        background-color: #3a3a3a;
        margin-top: 1em;
        border: none;
        height: 30px;
        font-size: 1em; }
    .Contacts .listOfFriends .line {
      position: relative;
      margin-top: 120px;
      margin-left: -150px; }
  .Contacts .pendingContact .listOfFriends {
    position: relative;
    left: -5px; }
    .Contacts .pendingContact .listOfFriends .name {
      color: #FEF36E; }
    .Contacts .pendingContact .listOfFriends .imgContainer {
      border: 2px solid #d13030; }

.Groups {
  width: 100%;
  height: 100%;
  background-color: #111;
  font-family: "ABeeZee", sans-serif;
  padding-top: 50px; }
  .Groups .addGroupModal {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px;
    border-color: pink; }
    .Groups .addGroupModal .modalBox {
      width: 90%;
      height: 400px;
      background-color: #3a3a3a;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      position: relative; }
      .Groups .addGroupModal .modalBox .exit {
        margin: 15px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        position: relative;
        left: -120px; }
      .Groups .addGroupModal .modalBox .head {
        color: white;
        display: flex;
        font-size: 1.5em;
        justify-content: center;
        align-items: flex-start;
        letter-spacing: 0.2em; }
      .Groups .addGroupModal .modalBox .inputField {
        display: flex;
        margin-top: 20px; }
        .Groups .addGroupModal .modalBox .inputField input {
          width: 250px;
          background-color: rgba(239, 239, 239, 0.3);
          border-radius: 10px;
          border: none;
          color: #efefef;
          padding: 7px;
          font-size: 1.3rem;
          font-family: "ABeeZee", sans-serif;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 0.2em; }
          .Groups .addGroupModal .modalBox .inputField input:focus {
            outline: none; }
      .Groups .addGroupModal .modalBox .addMembersWrapper {
        margin-top: 10px; }
        .Groups .addGroupModal .modalBox .addMembersWrapper p {
          color: #efefef;
          letter-spacing: 0.2em;
          font-size: 1.2rem;
          text-align: center; }
      .Groups .addGroupModal .modalBox .groupsbox {
        width: 100%;
        max-height: 170px;
        overflow: scroll;
        text-align: center;
        margin-top: 20px;
        padding: 0 10px; }
        .Groups .addGroupModal .modalBox .groupsbox h3 {
          margin-bottom: 10px; }
        .Groups .addGroupModal .modalBox .groupsbox button {
          background-color: rgba(239, 239, 239, 0.3);
          border: none;
          height: 30px;
          padding: 7px;
          margin: 5px 2px;
          border-radius: 10px;
          color: #efefef;
          letter-spacing: 0.2em;
          font-family: "ABeeZee", sans-serif;
          font-size: 1rem; }
          .Groups .addGroupModal .modalBox .groupsbox button:focus {
            outline: none; }
          .Groups .addGroupModal .modalBox .groupsbox button:hover {
            background-color: #FEF36E;
            color: #111; }
      .Groups .addGroupModal .modalBox .buttnWrapper button {
        background-color: rgba(239, 239, 239, 0.3);
        color: #FEF36E;
        font-size: 1.2rem;
        font-family: "ABeeZee", sans-serif;
        border-radius: 10px;
        border: none;
        padding: 5px 10px;
        margin-top: 10px; }
        .Groups .addGroupModal .modalBox .buttnWrapper button:hover {
          color: #111;
          background-color: #FEF36E; }
        .Groups .addGroupModal .modalBox .buttnWrapper button:focus {
          outline: none; }
  .Groups .header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #efefef;
    font-size: 1.6em;
    z-index: 2;
    background-color: #111;
    position: absolute; }
    .Groups .header .addNewGroup {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      cursor: pointer;
      z-index: 2; }
      .Groups .header .addNewGroup .head {
        color: #efefef;
        font-family: "ABeeZee", sans-serif;
        letter-spacing: .1em;
        font-size: 1.25em;
        margin-left: 10px; }
      .Groups .header .addNewGroup .addGroup {
        width: 22px;
        height: 22px;
        margin: .5em;
        margin-top: 9px;
        margin-right: 10px; }
    .Groups .header .groupsbox {
      width: 90%;
      height: 55%;
      padding: 5px;
      background-color: #111;
      border-radius: 10px;
      border-color: #FEF36E;
      border: 2px;
      color: white; }
      .Groups .header .groupsbox button {
        background-color: rgba(239, 239, 239, 0.3);
        border: none;
        height: 30px;
        padding: 7px;
        margin: 5px 2px;
        border-radius: 10px;
        color: #efefef;
        letter-spacing: 0.2em;
        font-family: "ABeeZee", sans-serif;
        font-size: 1rem; }
        .Groups .header .groupsbox button:focus {
          outline: none; }
        .Groups .header .groupsbox button:hover {
          background-color: #FEF36E;
          color: #111; }
  .Groups .listOfGroups {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    position: relative; }
    .Groups .listOfGroups .nameContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 70px; }
      .Groups .listOfGroups .nameContainer .groupName {
        color: #efefef;
        letter-spacing: 0.2em; }
      .Groups .listOfGroups .nameContainer button {
        border-radius: 10px;
        color: #efefef;
        background-color: #d13030; }
      .Groups .listOfGroups .nameContainer .seeInfo {
        color: #FEF36E;
        background-color: #3a3a3a;
        width: 90px;
        font-family: "ABeeZee", sans-serif;
        margin-top: 1em;
        border: none;
        height: 30px;
        font-size: 1em;
        cursor: pointer; }

#Home {
  background-color: #111;
  height: 100vh;
  width: 100vw;
  padding-top: 50px; }
  #Home .navContainer {
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around; }
    #Home .navContainer a {
      color: #efefef;
      text-decoration: none;
      letter-spacing: 0.2em;
      font-family: "ABeeZee", sans-serif; }
      #Home .navContainer a:hover {
        color: #FEF36E; }

#login {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  z-index: 50;
  color: #efefef;
  font-family: "ABeeZee", sans-serif; }
  #login .loginWrapper {
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
    #login .loginWrapper .imgWrapper {
      width: 100vw;
      display: flex;
      justify-content: center;
      height: 320px; }
    #login .loginWrapper .innerWrapper {
      width: 320px;
      position: relative;
      height: 320px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #login .loginWrapper .innerWrapper #spotlight1 {
        background-color: rgba(239, 239, 239, 0.3);
        height: 320px;
        width: 320px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0; }
      #login .loginWrapper .innerWrapper #spotlight2 {
        background-color: rgba(254, 243, 110, 0.3);
        height: 320px;
        width: 320px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0; }
    #login .loginWrapper .imgWrapper,
    #login .loginWrapper .infoWrapper {
      display: flex;
      justify-content: center;
      align-items: center; }
    #login .loginWrapper .infoWrapper {
      width: 250px;
      flex-wrap: wrap; }
      #login .loginWrapper .infoWrapper button {
        width: 250px;
        background-color: rgba(239, 239, 239, 0.3);
        border: none;
        height: 30px;
        padding: 7px;
        margin-top: 80px;
        border-radius: 10px;
        color: #FEF36E;
        letter-spacing: 0.2em;
        font-family: "ABeeZee", sans-serif;
        font-size: 90%;
        z-index: 55; }
        #login .loginWrapper .infoWrapper button:focus {
          outline: none; }
        #login .loginWrapper .infoWrapper button:hover {
          background-color: #FEF36E;
          color: #111; }
  #login img {
    width: 300px;
    z-index: 99; }
  #login a {
    color: #efefef; }
    #login a:hover {
      color: #FEF36E; }

.mapContainer {
  display: flex;
  justify-content: center; }

#Level1 {
  min-height: 100vh;
  width: 100vw;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #efefef;
  font-family: "ABeeZee", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.2em; }
  #Level1 .wrapper {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  #Level1 header {
    font-size: 1.5rem;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0; }
  #Level1 .customHeaderInput {
    font-size: 1.5rem;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    width: 320px;
    background-color: #111;
    color: #efefef;
    border: none;
    letter-spacing: 0.2em; }
    #Level1 .customHeaderInput:focus {
      outline: none; }
  #Level1 .situationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase; }
  #Level1 .messageWrapper h3 {
    margin-bottom: 10px; }
  #Level1 .messageWrapper textarea {
    padding: 5px;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    height: 120px;
    background-color: rgba(239, 239, 239, 0.3);
    color: #efefef;
    border: none;
    border-radius: 10px;
    letter-spacing: 0.2em; }
    #Level1 .messageWrapper textarea:focus {
      outline: none; }
  #Level1 .recipWrapper {
    margin-top: 20px; }
    #Level1 .recipWrapper h3 {
      margin-bottom: 10px; }
    #Level1 .recipWrapper button {
      background-color: rgba(239, 239, 239, 0.3);
      border: none;
      height: 30px;
      padding: 7px;
      margin: 5px 2px;
      border-radius: 10px;
      color: #efefef;
      letter-spacing: 0.2em;
      font-family: "ABeeZee", sans-serif;
      font-size: 1rem; }
      #Level1 .recipWrapper button:focus {
        outline: none; }
      #Level1 .recipWrapper button:hover {
        background-color: #FEF36E;
        color: #111; }
  #Level1 .timeWrapper {
    margin-top: 20px;
    width: 320px; }
    #Level1 .timeWrapper h3 {
      margin-bottom: 10px; }
    #Level1 .timeWrapper select {
      width: 120px;
      height: 30px;
      color: #efefef;
      background-color: rgba(239, 239, 239, 0.3);
      font-family: "ABeeZee", sans-serif;
      font-size: 1rem; }
      #Level1 .timeWrapper select:focus {
        outline: none; }
  #Level1 .buttnWrapper {
    margin: 20px 0;
    width: 320px; }
    #Level1 .buttnWrapper button {
      background-color: #FEF36E;
      border: none;
      height: 50px;
      width: 280px;
      padding: 7px;
      border-radius: 10px;
      color: #111;
      letter-spacing: 0.2em;
      font-family: "ABeeZee", sans-serif;
      font-size: 1.5rem; }
      #Level1 .buttnWrapper button:focus {
        outline: none; }
      #Level1 .buttnWrapper button:hover {
        background-color: #d13030;
        color: #efefef; }

#Level3 {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #efefef;
  font-family: "ABeeZee", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.2em; }
  #Level3 .wrapper {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  #Level3 header {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0; }
  #Level3 .situationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase; }
  #Level3 .buttnWrapper {
    margin: 20px 0;
    width: 320px; }
    #Level3 .buttnWrapper button {
      background-color: #d13030;
      border: none;
      height: 150px;
      width: 300px;
      padding: 7px;
      border-radius: 10px;
      color: #efefef;
      letter-spacing: 0.2em;
      font-family: "ABeeZee", sans-serif;
      font-size: 2.7rem; }
      #Level3 .buttnWrapper button:focus {
        outline: none; }
      #Level3 .buttnWrapper button:hover {
        background-color: #d13030;
        color: #111; }
  #Level3 .redirect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #d13030;
    color: #111;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "ABeeZee", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center; }
    #Level3 .redirect p {
      width: 100vw;
      padding: 20px; }
    #Level3 .redirect a {
      font-family: "ABeeZee", sans-serif;
      size: 1.3rem;
      color: #efefef;
      text-decoration: none;
      width: 100vw;
      padding: 20px; }
      #Level3 .redirect a:hover {
        color: #111; }

#Level2 {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #efefef;
  font-family: "ABeeZee", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.2em; }
  #Level2 .wrapper {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  #Level2 header {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2em;
    margin: 30px 0; }
  #Level2 .situationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase; }
  #Level2 .messageWrapper h3 {
    margin-bottom: 10px; }
  #Level2 .messageWrapper textarea {
    padding: 5px;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    height: 120px;
    background-color: rgba(239, 239, 239, 0.3);
    color: #efefef;
    border: none;
    border-radius: 10px;
    letter-spacing: 0.2em; }
    #Level2 .messageWrapper textarea:focus {
      outline: none; }
  #Level2 .timeWrapper {
    margin-top: 20px;
    width: 320px; }
    #Level2 .timeWrapper h3 {
      margin-bottom: 10px; }
    #Level2 .timeWrapper select {
      width: 120px;
      height: 30px;
      color: #efefef;
      background-color: rgba(239, 239, 239, 0.3);
      font-family: "ABeeZee", sans-serif;
      font-size: 1rem; }
      #Level2 .timeWrapper select:focus {
        outline: none; }
  #Level2 .buttnWrapper {
    margin: 20px 0;
    width: 320px; }
    #Level2 .buttnWrapper button {
      background-color: #FEF36E;
      border: none;
      height: 50px;
      width: 280px;
      padding: 7px;
      border-radius: 10px;
      color: #111;
      letter-spacing: 0.2em;
      font-family: "ABeeZee", sans-serif;
      font-size: 1.5rem; }
      #Level2 .buttnWrapper button:focus {
        outline: none; }
      #Level2 .buttnWrapper button:hover {
        background-color: #d13030;
        color: #efefef; }
  #Level2 .redirect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #d13030;
    color: #111;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "ABeeZee", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center; }
    #Level2 .redirect p {
      width: 100vw;
      padding: 20px; }
    #Level2 .redirect a {
      font-family: "ABeeZee", sans-serif;
      size: 1.3rem;
      color: #efefef;
      text-decoration: none;
      width: 100vw;
      padding: 20px; }
      #Level2 .redirect a:hover {
        color: #111; }

.ProfileContainer {
  position: relative;
  min-height: 100vh;
  width: 100vw; }
  .ProfileContainer .Profile {
    text-transform: uppercase;
    font-family: "ABeeZee", sans-serif;
    background: #111;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0; }
    .ProfileContainer .Profile .nameWrapper {
      width: 100vw;
      justify-content: center;
      align-items: center;
      display: flex; }
    .ProfileContainer .Profile .nameContainer {
      width: 320px;
      display: flex;
      height: 100px;
      justify-content: center;
      align-items: center; }
      .ProfileContainer .Profile .nameContainer .name {
        color: #efefef;
        font-size: 1.6em;
        position: relative;
        margin-top: 20px;
        font-family: "ABeeZee", sans-serif;
        letter-spacing: .2em; }
    .ProfileContainer .Profile .editIcon {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      margin-top: 20px;
      cursor: pointer;
      opacity: 0.5; }
      .ProfileContainer .Profile .editIcon:hover {
        opacity: 1; }
    .ProfileContainer .Profile .nameInputContainer {
      width: 320px;
      height: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      position: relative; }
      .ProfileContainer .Profile .nameInputContainer .editIcon {
        margin-left: 5px; }
      .ProfileContainer .Profile .nameInputContainer .nameInput {
        font-size: 1.5rem;
        line-height: 1.2em;
        border-radius: 10px;
        position: relative;
        top: 5px;
        text-align: center;
        text-transform: uppercase;
        width: 250px;
        background-color: #3a3a3a;
        color: #efefef;
        border: none;
        letter-spacing: 0.2em; }
        .ProfileContainer .Profile .nameInputContainer .nameInput:focus {
          outline: none; }
      .ProfileContainer .Profile .nameInputContainer .addNewNameBtn {
        color: #FEF36E;
        font-size: 22px;
        position: relative;
        top: 5px;
        padding-left: 10px;
        background-color: #111;
        border: none;
        letter-spacing: .2em;
        cursor: pointer; }
    .ProfileContainer .Profile .imgContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative; }
      .ProfileContainer .Profile .imgContainer .imgPlaceholder {
        width: 150px;
        height: 150px;
        border-radius: 40px;
        border: 1px solid #FEF36E;
        background-color: #efefef;
        margin-top: 10%;
        position: relative; }
    .ProfileContainer .Profile .safeHavenWrapper {
      flex-wrap: wrap;
      color: #efefef;
      letter-spacing: 0.2em;
      line-height: 1.2em;
      padding-top: 10px; }
    .ProfileContainer .Profile .safehavenContainer {
      width: 320px;
      display: flex;
      flex-wrap: wrap;
      height: 50px;
      justify-content: center;
      align-items: center; }
      .ProfileContainer .Profile .safehavenContainer .safeHaven {
        color: #efefef;
        width: 320px;
        font-size: 1rem;
        position: relative;
        margin-top: 20px;
        font-family: "ABeeZee", sans-serif;
        letter-spacing: .2em; }
      .ProfileContainer .Profile .safehavenContainer .editIcon {
        margin-left: 0; }
      .ProfileContainer .Profile .safehavenContainer p {
        width: 200px; }
    .ProfileContainer .Profile .safeHavenInputContainer {
      width: 320px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      position: relative; }
      .ProfileContainer .Profile .safeHavenInputContainer .changebtn {
        color: #FEF36E;
        background-color: #111;
        border: none;
        cursor: pointer;
        font-size: 22px; }
      .ProfileContainer .Profile .safeHavenInputContainer button {
        color: #FEF36E;
        font-size: 1.6em;
        position: relative;
        top: 5px; }
      .ProfileContainer .Profile .safeHavenInputContainer .safeHavenInput {
        border-radius: 10px;
        font-size: 1rem;
        line-height: 1.2em;
        border-radius: 10px;
        position: relative;
        top: 5px;
        text-align: center;
        text-transform: uppercase;
        width: 250px;
        background-color: #3a3a3a;
        color: #efefef;
        border: none;
        letter-spacing: 0.2em; }
        .ProfileContainer .Profile .safeHavenInputContainer .safeHavenInput:focus {
          outline: none; }
    .ProfileContainer .Profile .emergencyWrapper {
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      color: #efefef;
      letter-spacing: 0.2em;
      line-height: 1.2em;
      padding: 10px 0 20px 0;
      min-height: 200px; }
      .ProfileContainer .Profile .emergencyWrapper .changeEmergencyStuffBtn {
        margin-left: 0; }
      .ProfileContainer .Profile .emergencyWrapper span {
        width: 200px;
        text-align: center; }
      .ProfileContainer .Profile .emergencyWrapper p {
        width: 320px;
        text-align: center;
        margin-top: 10px; }
      .ProfileContainer .Profile .emergencyWrapper .recipWrapper {
        padding: 0 10px;
        text-align: center;
        width: 320px;
        height: 150px;
        overflow: scroll;
        margin-top: 20px;
        color: #efefef; }
        .ProfileContainer .Profile .emergencyWrapper .recipWrapper h3 {
          margin-bottom: 10px; }
        .ProfileContainer .Profile .emergencyWrapper .recipWrapper button {
          background-color: rgba(239, 239, 239, 0.3);
          border: none;
          height: 30px;
          padding: 7px;
          margin: 5px 2px;
          border-radius: 10px;
          color: #efefef;
          letter-spacing: 0.2em;
          font-family: "ABeeZee", sans-serif;
          font-size: 1rem; }
          .ProfileContainer .Profile .emergencyWrapper .recipWrapper button:focus {
            outline: none; }
          .ProfileContainer .Profile .emergencyWrapper .recipWrapper button:hover {
            background-color: #FEF36E;
            color: #111; }
      .ProfileContainer .Profile .emergencyWrapper .names {
        height: 70px;
        overflow: scroll;
        border: 1px solid #FEF36E;
        border-radius: 10px;
        padding: 10px;
        line-height: 1.5em; }
      .ProfileContainer .Profile .emergencyWrapper .messageWrapper {
        text-align: center;
        width: 300px;
        margin-left: 0;
        margin-top: 10px; }
        .ProfileContainer .Profile .emergencyWrapper .messageWrapper h3 {
          margin-bottom: 10px; }
        .ProfileContainer .Profile .emergencyWrapper .messageWrapper textarea {
          padding: 5px;
          font-size: 1rem;
          text-align: center;
          text-transform: uppercase;
          width: 290px;
          height: 120px;
          background-color: rgba(239, 239, 239, 0.3);
          color: #efefef;
          border: none;
          border-radius: 10px;
          letter-spacing: 0.2em; }
          .ProfileContainer .Profile .emergencyWrapper .messageWrapper textarea:focus {
            outline: none; }
    .ProfileContainer .Profile .navigationBtns {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      letter-spacing: 0.2em; }
      .ProfileContainer .Profile .navigationBtns .logOut {
        font-size: 1rem;
        color: #efefef;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        width: 310px;
        margin-top: 10px;
        padding: 10px 7px;
        background-color: #3a3a3a;
        border-radius: 10px;
        text-decoration: none; }
      .ProfileContainer .Profile .navigationBtns .contacts {
        font-size: 1rem;
        color: #111;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        width: 310px;
        margin-top: 10px;
        padding: 10px 7px;
        background-color: #FEF36E;
        border-radius: 10px; }
        .ProfileContainer .Profile .navigationBtns .contacts:hover {
          color: #d13030;
          background-color: rgba(239, 239, 239, 0.3); }
      .ProfileContainer .Profile .navigationBtns .deleteBtn {
        color: #efefef;
        font-size: 1rem;
        font-family: "ABeeZee", sans-serif;
        letter-spacing: 0.2em;
        height: 40px !important;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        width: 310px;
        margin-top: 10px;
        padding: 10px 7px;
        background-color: #d13030;
        border-radius: 10px;
        border: none; }
        .ProfileContainer .Profile .navigationBtns .deleteBtn:hover {
          color: #111;
          background-color: #d13030; }
    .ProfileContainer .Profile .deleteModal {
      width: 80%;
      background-color: #efefef;
      border-width: 2px;
      border-color: #111;
      border-radius: 10px;
      border-style: solid;
      height: 70%;
      position: absolute;
      margin-top: -170px;
      animation: slideInLeft 1s; }
      .ProfileContainer .Profile .deleteModal .close {
        width: 13px;
        margin: 10px;
        cursor: pointer; }
      .ProfileContainer .Profile .deleteModal .head {
        letter-spacing: 0.2em;
        width: 97%;
        font-family: "ABeeZee", sans-serif;
        text-align: center;
        margin-top: 30px; }
      .ProfileContainer .Profile .deleteModal .deleteBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 40px;
        cursor: pointer; }
        .ProfileContainer .Profile .deleteModal .deleteBtns .no {
          width: 100%;
          height: 80px;
          background-color: #FEF36E;
          font-size: 12px;
          border: none;
          letter-spacing: 0.2em;
          font-family: "ABeeZee", sans-serif;
          color: #111;
          margin-top: 20px; }
        .ProfileContainer .Profile .deleteModal .deleteBtns .no:hover {
          background-color: #111;
          color: #efefef; }
        .ProfileContainer .Profile .deleteModal .deleteBtns .yes {
          width: 100%;
          border-radius: none;
          height: 70px;
          background-color: #d13030;
          font-size: 12px;
          border: none;
          letter-spacing: 0.2em;
          font-family: "ABeeZee", sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          color: #efefef;
          text-decoration: none; }
        .ProfileContainer .Profile .deleteModal .deleteBtns .yes:hover {
          background: #111;
          color: #FEF36E; }

@keyframes slideInLeft {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#Situations {
  background-color: #111;
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #efefef;
  font-family: "ABeeZee", sans-serif;
  font-size: 1.45rem;
  letter-spacing: 0.2em; }
  #Situations .wrapper {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  #Situations .levelOne,
  #Situations .levelTwo,
  #Situations .levelThree {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  #Situations .levelOne a {
    color: #efefef;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 310px;
    margin-top: 10px;
    padding: 10px 7px;
    background-color: rgba(239, 239, 239, 0.3);
    border-radius: 10px; }
    #Situations .levelOne a:hover {
      color: #111;
      background-color: #FEF36E; }
  #Situations .levelOne .custom {
    color: #FEF36E; }
    #Situations .levelOne .custom:hover {
      color: #111;
      background-color: #FEF36E; }
  #Situations .levelTwo {
    margin-top: 25px; }
    #Situations .levelTwo a {
      color: #111;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      width: 310px;
      margin-top: 10px;
      padding: 10px 7px;
      background-color: #FEF36E;
      border-radius: 10px; }
      #Situations .levelTwo a:hover {
        color: #d13030;
        background-color: rgba(239, 239, 239, 0.3); }
  #Situations .levelThree {
    margin-top: 25px;
    font-size: 1.9rem; }
    #Situations .levelThree a {
      color: #efefef;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      width: 310px;
      margin-top: 10px;
      padding: 10px 7px;
      background-color: #d13030;
      border-radius: 10px; }
      #Situations .levelThree a:hover {
        color: #111;
        background-color: #d13030; }
  #Situations button {
    background-color: rgba(239, 239, 239, 0.3);
    border: none;
    height: 30px;
    padding: 7px;
    margin-top: 80px;
    border-radius: 10px;
    color: #FEF36E;
    letter-spacing: 0.2em;
    font-family: "ABeeZee", sans-serif;
    font-size: 90%; }
    #Situations button:focus {
      outline: none; }
    #Situations button:hover {
      background-color: #FEF36E;
      color: #111; }

.Menu {
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  font-family: "ABeeZee", sans-serif;
  font-size: 1.2em;
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.93);
  z-index: 99;
  opacity: 0; }
  .Menu a {
    text-decoration: none; }
  .Menu .navigateContainer {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute; }
    .Menu .navigateContainer .exit {
      width: 100%;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 80px;
      cursor: pointer; }
      .Menu .navigateContainer .exit .x {
        width: 25px;
        height: 25px;
        transform: scale(0.2);
        opacity: 0;
        cursor: pointer; }
    .Menu .navigateContainer .menuContainer {
      width: 120px;
      height: 120px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg); }
    .Menu .navigateContainer .buttn {
      width: 120px;
      height: 120px;
      border-radius: 120px;
      background-color: #FEF36E;
      color: #111;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute; }
      .Menu .navigateContainer .buttn:hover {
        background-color: #3a3a3a;
        color: #FEF36E; }
    .Menu .navigateContainer .home {
      opacity: 0;
      transform: scale(0.2); }
    .Menu .navigateContainer .profile {
      opacity: 0;
      transform: scale(0.2); }
    .Menu .navigateContainer .situations {
      opacity: 0;
      transform: scale(0.2); }
    .Menu .navigateContainer .about {
      opacity: 0;
      transform: scale(0.2); }
    .Menu .navigateContainer .logout {
      opacity: 0;
      transform: scale(0.2); }
      .Menu .navigateContainer .logout:hover {
        color: #efefef;
        background-color: #d13030; }

#About {
  width: 100vw;
  min-height: 100vh;
  color: #efefef;
  letter-spacing: 0.2em;
  line-height: 1.3em;
  font-family: "ABeeZee", sans-serif;
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  #About header {
    margin: 50px 0 20px 0;
    width: 100vw;
    font-family: "ABeeZee", sans-serif;
    font-size: 1.7rem; }
    #About header .imgWrapper {
      margin-bottom: 20px;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 320px; }
    #About header #spotlight1 {
      background-color: rgba(239, 239, 239, 0.3);
      height: 320px;
      width: 320px;
      border-radius: 50%;
      position: absolute;
      top: none;
      left: none; }
    #About header #spotlight2 {
      background-color: rgba(254, 243, 110, 0.3);
      height: 320px;
      width: 320px;
      border-radius: 50%;
      position: absolute;
      top: none;
      left: none; }
    #About header img {
      width: 300px;
      z-index: 6; }
    #About header h3 {
      width: 100vw;
      text-align: center; }
  #About #about,
  #About #levels,
  #About #tech,
  #About #creators {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(239, 239, 239, 0.3);
    border-radius: 10px;
    margin: 20px 0px; }
    #About #about h1,
    #About #levels h1,
    #About #tech h1,
    #About #creators h1 {
      font-size: 1.9rem;
      margin: 10px 0;
      cursor: pointer;
      width: 320px;
      text-align: center;
      text-transform: uppercase; }
    #About #about .withinSection,
    #About #levels .withinSection,
    #About #tech .withinSection,
    #About #creators .withinSection {
      width: 320px;
      overflow: hidden;
      color: #111; }
    #About #about p, #About #about .ulWrapper,
    #About #levels p,
    #About #levels .ulWrapper,
    #About #tech p,
    #About #tech .ulWrapper,
    #About #creators p,
    #About #creators .ulWrapper {
      text-align: center;
      width: 320px;
      margin: 5px 0; }
      #About #about p em, #About #about .ulWrapper em,
      #About #levels p em,
      #About #levels .ulWrapper em,
      #About #tech p em,
      #About #tech .ulWrapper em,
      #About #creators p em,
      #About #creators .ulWrapper em {
        text-transform: uppercase;
        color: #FEF36E; }
      #About #about p p, #About #about .ulWrapper p,
      #About #levels p p,
      #About #levels .ulWrapper p,
      #About #tech p p,
      #About #tech .ulWrapper p,
      #About #creators p p,
      #About #creators .ulWrapper p {
        padding: 0 20px; }
    #About #about .paragraphs,
    #About #levels .paragraphs,
    #About #tech .paragraphs,
    #About #creators .paragraphs {
      padding: 10px 20px; }
    #About #about li,
    #About #levels li,
    #About #tech li,
    #About #creators li {
      width: 100%;
      color: #111;
      padding: 0 20px;
      margin-bottom: 5px; }
      #About #about li:hover,
      #About #levels li:hover,
      #About #tech li:hover,
      #About #creators li:hover {
        color: #FEF36E; }
    #About #about img,
    #About #levels img,
    #About #tech img,
    #About #creators img {
      width: 250px;
      height: 537px;
      border-radius: 40px;
      margin-top: 20px; }
    #About #about .creatorImgWrapper,
    #About #levels .creatorImgWrapper,
    #About #tech .creatorImgWrapper,
    #About #creators .creatorImgWrapper {
      position: relative;
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0; }
      #About #about .creatorImgWrapper img,
      #About #levels .creatorImgWrapper img,
      #About #tech .creatorImgWrapper img,
      #About #creators .creatorImgWrapper img {
        height: 200px;
        width: 200px;
        position: absolute;
        margin-top: 0;
        border: 2px solid #FEF36E; }
      #About #about .creatorImgWrapper .imgSerious:hover,
      #About #levels .creatorImgWrapper .imgSerious:hover,
      #About #tech .creatorImgWrapper .imgSerious:hover,
      #About #creators .creatorImgWrapper .imgSerious:hover {
        opacity: 0; }
  #About footer {
    width: 100vw;
    margin: 10px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    #About footer a {
      width: 75px;
      height: 75px; }
    #About footer .creatorImg {
      height: 75px;
      width: 75px;
      margin-top: 0;
      border-radius: 40px;
      border: 2px solid #FEF36E; }
    #About footer span {
      width: 100vw;
      font-size: 0.5rem;
      text-align: center;
      margin-top: 20px; }

@media (min-width: 600px) {
  #About #about,
  #About #levels,
  #About #tech,
  #About #creators {
    width: 550px; }
    #About #about .withinSection,
    #About #levels .withinSection,
    #About #tech .withinSection,
    #About #creators .withinSection {
      width: 550px; }
    #About #about h1,
    #About #levels h1,
    #About #tech h1,
    #About #creators h1 {
      width: 550px; }
    #About #about p, #About #about .ulWrapper,
    #About #levels p,
    #About #levels .ulWrapper,
    #About #tech p,
    #About #tech .ulWrapper,
    #About #creators p,
    #About #creators .ulWrapper {
      width: 550px; } }

@media (min-width: 900px) {
  #About #about,
  #About #levels,
  #About #tech,
  #About #creators {
    width: 700px; }
    #About #about .withinSection,
    #About #levels .withinSection,
    #About #tech .withinSection,
    #About #creators .withinSection {
      width: 700px; }
    #About #about h1,
    #About #levels h1,
    #About #tech h1,
    #About #creators h1 {
      width: 700px; }
    #About #about p, #About #about .ulWrapper,
    #About #levels p,
    #About #levels .ulWrapper,
    #About #tech p,
    #About #tech .ulWrapper,
    #About #creators p,
    #About #creators .ulWrapper {
      width: 700px; } }

.FriendModal {
  letter-spacing: 1;
  text-transform: uppercase;
  width: 320px;
  height: 100vh;
  position: absolute;
  z-index: 3;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center; }
  .FriendModal .heaad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; }
    .FriendModal .heaad .info {
      color: #FEF36E;
      font-size: 1.4em;
      align-self: center;
      font-family: "ABeeZee", sans-serif;
      margin-top: -50px; }
  .FriendModal .x {
    width: .8em;
    height: .8em;
    margin: 20px;
    position: relative;
    cursor: pointer; }
  .FriendModal .box {
    width: 300px;
    height: 500px;
    background-color: #3a3a3a;
    z-index: 3;
    border-radius: 10px; }
  .FriendModal .information {
    width: 260px;
    overflow-x: scroll;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    font-family: "ABeeZee", sans-serif;
    letter-spacing: .09em; }
    .FriendModal .information div {
      min-width: 330px;
      line-height: 1.7em; }
  .FriendModal .groups {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 70%; }
    .FriendModal .groups .groupNames {
      color: white; }
    .FriendModal .groups .added {
      color: #FEF36E;
      font-family: "ABeeZee", sans-serif;
      letter-spacing: .2em;
      font-size: .7em;
      margin-bottom: 10px; }
    .FriendModal .groups .groupsbox {
      width: 90%;
      height: 150px;
      overflow: scroll;
      text-align: center;
      padding: 5px;
      background-color: #111;
      border-radius: 10px;
      border-color: #FEF36E;
      border: 2px;
      color: white; }
      .FriendModal .groups .groupsbox button {
        background-color: rgba(239, 239, 239, 0.3);
        border: none;
        height: 30px;
        padding: 7px;
        margin: 5px 2px;
        border-radius: 10px;
        color: #efefef;
        letter-spacing: 0.2em;
        font-family: "ABeeZee", sans-serif;
        font-size: 1rem; }
        .FriendModal .groups .groupsbox button:focus {
          outline: none; }
        .FriendModal .groups .groupsbox button:hover {
          background-color: #FEF36E;
          color: #111; }
  .FriendModal .buttnWrapper button {
    background-color: rgba(239, 239, 239, 0.3);
    color: #FEF36E;
    font-size: 1.2rem;
    font-family: "ABeeZee", sans-serif;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    margin-top: 10px; }
    .FriendModal .buttnWrapper button:hover {
      color: #111;
      background-color: #FEF36E; }
    .FriendModal .buttnWrapper button:focus {
      outline: none; }

.App {
  width: 100vw;
  overflow-x: hidden;
  height: 100vh; }
  .App .navbar {
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 7;
    background-color: #111; }
  .App .menu {
    width: 30px;
    height: 30px;
    position: fixed;
    margin: 15px;
    cursor: pointer; }
  .App .hamburger {
    position: absolute;
    background-color: #efefef;
    width: 30px;
    height: 4px; }
  .App .bell {
    display: flex;
    justify-content: flex-end;
    width: 100%; }
    .App .bell .bellIcon {
      position: fixed;
      top: 20px;
      right: 15px;
      cursor: pointer; }
  .App .line2 {
    top: calc(13px); }
  .App .line3 {
    bottom: 0; }

.Alert {
  width: 100vw;
  background-color: #111;
  text-transform: uppercase;
  font-family: "ABeeZee", sans-serif;
  letter-spacing: .2em;
  margin: 30px 0; }
  .Alert .header {
    width: 100vw;
    height: 80px;
    display: flex;
    background-color: #111;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    color: #efefef;
    font-size: 1.7em; }

.alertBubble {
  width: 100vw;
  height: calc(100vh - 80px);
  margin-top: 80px;
  overflow: scroll;
  text-transform: uppercase;
  letter-spacing: .3em;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }
  .alertBubble a {
    color: #efefef;
    text-decoration: none;
    height: 80px; }
  .alertBubble .container {
    width: 100vw;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-around; }
    .alertBubble .container:hover {
      background-color: #d13030; }
    .alertBubble .container .from {
      padding: 20px;
      width: 100vw;
      color: #efefef;
      height: 50px;
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
      .alertBubble .container .from em {
        font-size: 3rem;
        cursor: pointer;
        margin-right: 10px; }
        .alertBubble .container .from em:hover {
          color: #111; }

#AlertPage {
  margin-top: 80px;
  width: 100vw; }
  #AlertPage .info {
    width: 100vw;
    min-height: 150px;
    font-family: "ABeeZee", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    color: #efefef; }
    #AlertPage .info .name {
      height: 30px;
      padding: 10px; }
    #AlertPage .info .situation {
      height: 50px;
      padding: 10px; }
    #AlertPage .info .message {
      padding: 10px;
      font-size: 0.8rem;
      letter-spacing: 0.3em;
      text-transform: none; }

.GroupsModal {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "ABeeZee", sans-serif;
  letter-spacing: 1;
  text-transform: uppercase;
  z-index: 7; }
  .GroupsModal .groupsBox {
    width: 95%;
    height: 80%;
    background-color: #efefef;
    border-radius: 10px; }
    .GroupsModal .groupsBox .closeModal {
      width: 100%;
      position: absolute;
      z-index: 1111; }
      .GroupsModal .groupsBox .closeModal .close {
        width: 15px;
        height: 15px;
        z-index: 99;
        cursor: pointer;
        margin-left: 10px;
        margin-top: 10px; }
    .GroupsModal .groupsBox .membersContainer {
      height: 290px;
      margin-top: 30px;
      overflow: scroll; }
    .GroupsModal .groupsBox .header {
      width: 100%;
      display: flex;
      align-items: flex-start;
      position: relative;
      color: #111;
      font-size: 1.7em;
      background-color: #efefef;
      border-radius: 10px; }
      .GroupsModal .groupsBox .header .heady {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        position: absolute; }
        .GroupsModal .groupsBox .header .heady .head {
          margin-left: 20px; }
        .GroupsModal .groupsBox .header .heady .edit {
          width: 15px;
          height: 15px;
          cursor: pointer;
          z-index: 99;
          margin-left: 10px; }
      .GroupsModal .groupsBox .header .inputArea {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px; }
        .GroupsModal .groupsBox .header .inputArea .newGroupName {
          font-size: 1.7rem;
          line-height: 1.2em;
          border-radius: 10px;
          text-align: center;
          text-transform: uppercase;
          width: 70%;
          background-color: #3a3a3a;
          color: #efefef;
          border: none;
          letter-spacing: 0.2em; }
          .GroupsModal .groupsBox .header .inputArea .newGroupName:focus {
            outline: none; }
        .GroupsModal .groupsBox .header .inputArea .addBtn {
          cursor: pointer;
          border: none;
          color: #111;
          margin-left: 10px;
          font-size: .6em; }
    .GroupsModal .groupsBox .title {
      font-size: 1.3em;
      margin-left: 20px; }
    .GroupsModal .groupsBox .list {
      margin-left: 40px;
      margin-top: 20px; }
    .GroupsModal .groupsBox .singleFriend {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px; }
      .GroupsModal .groupsBox .singleFriend .deleteFriend {
        width: 10px;
        height: 10px;
        margin-left: 10px;
        cursor: pointer; }
    .GroupsModal .groupsBox .deleteButton {
      width: 100%;
      height: 100px;
      border: none;
      background-color: #d13030;
      color: #efefef;
      margin-top: 30px;
      font-size: 1.2em;
      cursor: pointer; }
    .GroupsModal .groupsBox .deleteButton:hover {
      background-color: #FEF36E;
      color: #111; }

.modalContainer {
  position: absolute;
  top: 70px;
  left: calc((100vw - 300px) / 2);
  width: 300px;
  border-radius: 10px;
  min-height: 300px;
  background-color: #3a3a3a;
  z-index: 6; }
  .modalContainer .friendbuttn {
    margin-left: 10px;
    background-color: #FEF36E;
    border-radius: 4px;
    border: none;
    width: 52px;
    height: 34px;
    padding-left: 3px;
    font-family: "ABeeZee", sans-serif; }
    .modalContainer .friendbuttn:focus {
      outline: none; }
  .modalContainer .input {
    margin-left: 15px;
    width: 210px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: rgba(239, 239, 239, 0.3);
    color: #111;
    text-transform: uppercase;
    font-family: "ABeeZee", sans-serif;
    border: none;
    border-radius: 10px; }
    .modalContainer .input:focus {
      outline: none; }
  .modalContainer .x {
    width: .8em;
    height: .8em;
    margin: 20px;
    position: relative;
    cursor: pointer; }
  .modalContainer .things {
    width: 120px; }
  .modalContainer .result {
    display: flex; }
  .modalContainer .result img {
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 4px;
    margin: 20px 20px 0 20px; }
  .modalContainer .result h3 {
    font-size: .99em;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 13px;
    color: #efefef; }
  .modalContainer .result h4 {
    font-size: .9em;
    letter-spacing: 1px;
    margin-top: 5px;
    color: #efefef; }
  .modalContainer .result button {
    background-color: #111;
    color: #FEF36E;
    border-radius: 4px;
    border: none;
    margin: 10px;
    width: 70px;
    margin-left: 20px;
    font-family: "ABeeZee", sans-serif; }
    .modalContainer .result button:focus {
      outline: none; }
  .modalContainer .text {
    margin: 13px 5px 13px 0;
    width: 185px;
    line-height: 1.1em; }
    .modalContainer .text div {
      overflow-x: scroll; }

body {
  background-color: #111; }
