.Groups {
  width: 100%;
  height: 100%;
  background-color: $black;
  font-family: $sans;
  padding-top: 50px;

  .addGroupModal{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px;
    border-color: pink;

    .modalBox{
      width: 90%;
      height: 400px;
      background-color: $grey;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      position: relative;
    
      .exit{
        margin: 15px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        position: relative;
        left: -120px;
      }

      .head{
        color: white;
        display: flex;
        font-size: 1.5em;
        justify-content: center;
        align-items: flex-start;
        letter-spacing: 0.2em;
        // height: 25px;
      }

      .inputField{
        display: flex;
        margin-top: 20px;
        // width: 200px;

        input {
          width: 250px;
          background-color: $white-translucent;
          border-radius: 10px;
          border: none;
          &:focus {
            outline: none;
          }
          color: $white;
          padding: 7px;
          font: {
            size: 1.3rem;
            family: $sans;
          }
          text: {
            align: center;
            transform: uppercase;
          }
          letter-spacing: 0.2em;
        }
        // margin-top: 50px;
        // margin-left: 20px;

      }

      .addMembersWrapper {
        // width: 100%;
        margin-top: 10px;
        p {
          color: $white;
          letter-spacing: 0.2em;
          font-size: 1.2rem;
          text-align: center;
        }

      }

      .groupsbox {
        width: 100%;
        max-height: 170px;
        overflow: scroll;
        text-align: center;
        margin-top: 20px;
        padding: 0 10px;
        h3 {
          margin-bottom: 10px;
        }
        button{
          background-color: $white-translucent;
          border: none;
          height: 30px;
          padding: 7px;
          margin: 5px 2px;
          border-radius: 10px;
          color: $white;
          letter-spacing: 0.2em;
          font: {
              family: $sans;
              size: 1rem;
          }
          &:focus {
              outline: none;
          }
          &:hover {
              background-color: $yellow;
              color: $black
          }
        }
      }

      .buttnWrapper {
        button {
          background-color: $white-translucent;
          color: $yellow;
          font: {
            size: 1.2rem;
            family: $sans;
          }
          border-radius: 10px;
          border: none;
          padding: 5px 10px;
          &:hover {
            color: $black;
            background-color: $yellow;
          }
          &:focus {
            outline: none;
          }
          margin-top: 10px;
        }
      }
    }
  }

  .header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: $white;
    font-size: 1.6em;
    z-index: 2;
    background-color: $black;
    position: absolute;

    .addNewGroup{
      width: 20px;
      height: 20px;
      margin-left: 10px;
      cursor: pointer;
      z-index: 2;

      .head{
          color: $white;
          font-family: $sans;
          letter-spacing: .1em;
          font-size: 1.25em;
          margin-left: 10px;
      }

      .addGroup{
        width: 22px;
        height: 22px;
        margin: .5em;
        margin-top: 9px;
        margin-right: 10px;
      }

    }
    .groupsbox{
      width: 90%;
      height: 55%;
      padding: 5px;
      // margin-top: 10px;
      background-color: $black;
      border-radius: 10px;
      border-color: $yellow;
      border: 2px; 
      color: white;

      button {
        background-color: $white-translucent;
        border: none;
        height: 30px;
        padding: 7px;
        margin: 5px 2px;
        border-radius: 10px;
        color: $white;
        letter-spacing: 0.2em;
        font: {
            family: $sans;
            size: 1rem;
        }
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: $yellow;
            color: $black
        }
      }
    }
}
    .listOfGroups{
      display: flex;
      justify-content: center;

      width: 100%;
      align-items: flex-start;
      position: relative;

      .nameContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;

      .groupName{
        color: $white;
        letter-spacing: 0.2em;
      }
      button {
        border-radius: 10px;
        color: $white;
        background-color: $red;
      }

      .seeInfo{
        color: $yellow;
        background-color: $grey;
        width: 90px;
        font-family: $sans;
        margin-top: 1em;  
        border: none;
        height: 30px;
        font-size: 1em;
        cursor: pointer;

      }
    }
  }
}
